DJANGO_SECRET_KEY=replace-me
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DATABASE_URL=postgresql://spotify:spotify@localhost:5432/spotify
FRONTEND_ORIGIN=http://localhost:5173
DJANGO_TIME_ZONE=UTC
ACCESS_TOKEN_MINUTES=15
REFRESH_TOKEN_DAYS=7
MEDIA_ROOT=media
MEDIA_URL=/media/
LOGIN_THROTTLE_RATE=20/minute
REGISTRATION_THROTTLE_RATE=20/hour
ARTIST_REGISTRATION_THROTTLE_RATE=20/hour
PASSWORD_RESET_THROTTLE_RATE=10/hour
ZARINPAL_MERCHANT_ID=c8d2f8b6-07c1-496c-9f4c-f8e8afae1955
ZARINPAL_API_BASE_URL=https://sandbox.zarinpal.com/pg/v4/payment
ZARINPAL_START_PAY_BASE_URL=https://sandbox.zarinpal.com/pg/StartPay
ZARINPAL_CALLBACK_URL=http://127.0.0.1:9000/api/v1/subscriptions/zarinpal/callback/
ZARINPAL_TIMEOUT_SECONDS=10
